<!DOCTYPE html>
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/normal.css" %>

		<%= stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.4.css" %>

		<%= javascript_script_tag "/jquery.min.js" %>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>

		<title><%= @title ? @title : "Book Exchange" %></title>

		<meta charset=utf-8 />

		<script>
		var fancybox_options = {          
		                        'overlayShow'   : true,
		                        'transitionIn'  : 'elastic',
		                        'transitionOut' : 'elastic',
		                        'overlayColor'  : '#000',
		                        'overlayOpacity': 0.3,
		                        'autoScale'     : true,
		                        'scrolling'     : 'no',
		                        'fixed'         : false,
		                        'centerOnScroll': false,
		                        'resizeOnWindowResize' : false
		                        };
		$(function () {
		      $("#new_item_form form").attr("action", "");
		      $("#new_item_form form").attr("method", "");
		      $("#new_item_form form").live('submit',
		            function () {
		                  $.post('/book/new', {
		                  "name":$('#name').val(),
		                  "price": $('#price').val(),
		                  "author": $('#author').val(),
		                  "description": $('#description').val()
		                  },
		            function () {
		                  $('#name').val('');
		                  $('#price').val('');
		                  $('#author').val('');
		                  $('#description').val('');
		                  updatelistings();
		            });
		      });
		});
		$("#messenger").live('submit', function () {
		  $.post('/message/create', {"body":$('#body').val(),"recipient": $('#recipient').val(), "sender": $('#sender').val()});
		  $('#body').val('');$('#recipient').val('');
		});
		<% if @books %>
		function updatelistings () {
	      	if ($("#book_listings")){
	      		if ($("#booksearch_term").val().length <=1){
		            $.get('/listings', function (data){
		                  $("#book_listings").html(data);
		            });
	      		}
	      	}
		};
		<% end %>
		function updateInbox () {
			if ($("#inbox_listings")){
			    $.get('/inbox_listings', function (data){
			    		$("#inbox_listings").html(data);
			    });
			}
		};

		setInterval ("updatelistings()", 5000);
		setInterval ("updateInbox()", 1200);

		$("a").live('click', function (e) {
		      e.preventDefault();
		      if ($(this).attr("href")){
		            var input = $(this).attr('href').split('/');
		            if (input[1] == "book" && input[3]==null){
		                  $.post('/book', {id:input[2]}, function (data){
		                        $.fancybox(
		                              data,
		                              fancybox_options);
		                  });
		            }
		            else if (input[1] == "book" && input[3]=="delete") {
		                  $.post('/book', {id:input[2], delete : "true"}, function (data){
		                        $.fancybox(
		                              data,
		                              fancybox_options);
		                        });
		                  }
		            else if (input[1] == "user") {
		                  $.post('/user', {id:input[2]}, function (data){
		                        $.fancybox(
		                              data,
		                              fancybox_options);
		                        });
		                  }
		            else {
		                  location.href=$(this).attr('href');
		            }
		      }
		      
		      
		});
		function removeitem (address) {
		      var input = address.split('/');
		      if (input[1] == "book" && input[3]==null){
		            $.post('/book', {id:input[2]}, function (data){
		            $.fancybox(
		            data,
		            {
		                  
		                'overlayShow'   : true,
		                'transitionIn'  : 'elastic',
		                'transitionOut' : 'elastic',
		                'overlayColor'  : '#000',
		                'overlayOpacity': 0.3,
		                'autoScale'     : true,
		                'scrolling'     : 'no'
		            });
		            });
		      }
		      else if (input[1] == "book" && input[3]=="delete") {
		            $.post('/book', {id:input[2], delete : "true"}, function (data){
		            $.fancybox(
		            data,
		            {
		                  
		                'overlayShow'   : true,
		                'transitionIn'  : 'elastic',
		                'transitionOut' : 'elastic',
		                'overlayColor'  : '#000',
		                'overlayOpacity': 0.3,
		                'autoScale'     : true,
		                'scrolling'     : 'no'
		            });
		            });
		      }
		      else if (input[1] == "user" && input[3]=="delete") {
		            $.post('/user', {id:input[2], delete : "true"}, function (data){
		            $.fancybox(
		            data,
		            {
		                  
		                'overlayShow'   : true,
		                'transitionIn'  : 'elastic',
		                'transitionOut' : 'elastic',
		                'overlayColor'  : '#000',
		                'overlayOpacity': 0.3,
		                'autoScale'     : true,
		                'scrolling'     : 'no'
		            });
		            });
		      }
		      else {
		            location.href=$(this).attr('href');
		      }
		};

		$("#item_edition").live('submit', function (e){
		      e.preventDefault();
		      $.post('/book/update', {
		            "id"  :$("#item_edition").attr("data-id"),
		            "name":$('#name_editform').val(),
		            "price": $('#price_editform').val(),
		            "author": $('#author_editform').val(),
		            "sold": $('#sold_editform').attr("checked"),
		            "description": $('#description_editform').val()
		            },
		            function () {
		                  $.fancybox.close();
		                  updatelistings();
		            }
		      );
		});

		$("#booksearch_term").live('keyup', function (e){
			if ($("#booksearch_term").val().length <=1){
				updatelistings();
			}
			else {
		      $.get('/search.json', {
		            "term"  :$("#booksearch_term").val()
		            },
		            function (data) {
		                  $("#book_listings").html('<table class="book_table" id="book_listings"><tr><td colspan="4" class="table_header">Search Results:</td></tr><tr><td></td><td class="book_details">Title</td><td class="book_details">Author</td><td class="book_details" style="text-align: right">Price</td></tr></table>');
		                  for (var i=0; i<data.length;i++){
		                        var sale = "";
		                        if (data[i]["sold"]){
		                              var sale = "(Sold)";
		                        }
		                        $("#book_listings").append("<tr><td class='book_details_sold'>"+sale+"</td><td><a href='/book/"+data[i]["id"]+"' ><i>"+data[i]["name"]+"</i></a></td><td><a href='/book/"+data[i]["id"]+"' > by "+data[i]["author"]+"</a></td><td style='text-align:right'>"+data[i]["price"]+"€</a></td></tr>");

		                  }
		            }
		      );
			}
		});
		</script>

	</head>

	<body>
		<div class="topbar">
			<table>
				<tr>
					<td>
						<a class="mainpage_logo" href="/">Book Exchange</a>
					</td>
<% if !env['warden'].user %>
	<form action='/login' method='post'>
					<td style="text-align: right">
						<label for="email">  Email </label>
						<input type="text" name="email"/>
						<label for="password">  Password </label>
						<input type="password" name="password"/>
					</td>
					<td>
						<input type="submit" value="Log in"/>
					</td>
	</form>
					<td>
	<% if url.split('/')[3] != "login" %> or <a href="/login">Sign up</a></td><% end %>
<% else %>
					
					<td style="text-align: right" class="mainpage_logout"><font class="signin_comment">Signed up as </font><a href="/user/<%=env['warden'].user.id%>" style="color:white"><%= env['warden'].user.firstname+" "+env['warden'].user.lastname %></a>, 
						<input type="button" onClick="location.href='/logout'" value="Logout?" style="display: inline-block; vertical-align: middle; margin-bottom: 7px"/>
					</td>
<% end %>
				</tr>
			</table>
		</div>

<%= yield %>

<% if env['warden'].user %>
		<div class="bottombar">
			<form onsubmit="return false;" id="messenger">
				<table>
					<tr>
						<td>
							<label for="recipient">To:</label>
							<select name="recipient" id="recipient">
								<option value></option>
								<% @users.each do |user|%>
								<% if user.id != env['warden'].user.id %>
								<option value="<%=user.id%>"><%=user.firstname+" "+user.lastname%></option>
								<% end%>
								<% end%>
							</select>
							<input type="text" name="body" id="body">
							<input type="submit" value="Send"/>
						</td>
						<td style="text-align: right"><a href="/inbox">Inbox</a>
						<a href="/members">Members</a>
						<a href="/gallery">Photos</a>
						</td>
					</tr>
				</table>

				<input type="hidden" name="sender" id="sender" value="<%= env['warden'].user.id %>"/>
			</form>
		</div>
	<% end %>
	</body>
</html>